{% extends 'paper/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <form method="GET" action="">
        <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}">
        <input type="submit" value="Search"/>

		<h2>Dear friend! Welcome to ITRaccoon!</h2>
           <h4>To add an article, click on the icon in the upper right corner.</h4>
<br><br><br>
        <h1>Recent publications:</h1>
        <h2>What’s New In Python 3.5</h2>
        <p>Summary – Release highlights

New syntax features:

PEP 492, coroutines with async and await syntax.
PEP 465, a new matrix multiplication operator: a @ b.
PEP 448, additional unpacking generalizations.

New library modules:

typing: PEP 484 – Type Hints.
zipapp: PEP 441 Improving Python ZIP Application Support.

New built-in features:

bytes % args, bytearray % args: PEP 461 – Adding % formatting to bytes and bytearray.
New bytes.hex(), bytearray.hex() and memoryview.hex() methods. (Contributed by Arnon Yaari in issue 9951.)
memoryview now supports tuple indexing (including multi-dimensional). (Contributed by Antoine Pitrou in issue 23632.)
Generators have a new gi_yieldfrom attribute, which returns the object being iterated by yield from expressions. (Contributed by Benno Leslie and Yury Selivanov in issue 24450.)
A new RecursionError exception is now raised when maximum recursion depth is reached. (Contributed by Georg Brandl in issue 19235.)

CPython implementation improvements:

When the LC_TYPE locale is the POSIX locale (C locale), sys.stdin and sys.stdout now use the surrogateescape error handler, instead of the strict error handler. (Contributed by Victor Stinner in issue 19977.)
.pyo files are no longer used and have been replaced by a more flexible scheme that includes the optimization...
</p><br>
        <h2>Installing Python Modules</h2>
        <p>As a popular open source development project, Python has an active supporting community of contributors and users that also make their software available for other Python developers to use under open source license terms.

This allows Python users to share and collaborate effectively, benefiting from the solutions others have already created to common (and sometimes even rare!) problems, as well as potentially contributing their own solutions to the common pool.

This guide covers the installation part of the process. For a guide to creating and sharing your own Python projects, refer to the distribution guide.

Note

For corporate and other institutional users, be aware that many organisations have their own policies around using and contributing to open source software. Please take such policies into account when making use of the distribution and installation tools provided with Python.
Key terms

pip is the preferred installer program. Starting with Python 3.4, it is included by default with the Python binary installers.
a virtual environment is a semi-isolated Python environment that allows packages to be installed for use by a particular application, rather than being installed system wide
pyvenv is the standard tool for creating virtual environments, and has been part of Python since Python 3.3. Starting with Python 3.4, it defaults to installing pip into all created virtual environments
virtualenv is a third party alternative (and predecessor) to pyvenv. It allows virtual environments to be used on versions of Python prior to 3.4, which either don’t provide pyvenv at all, or aren’t able to automatically install pip into created environments.</p><br>
        <h2>Distributing Python Modules</h2>
        <p>As a popular open source development project, Python has an active supporting community of contributors and users that also make their software available for other Python developers to use under open source license terms.

This allows Python users to share and collaborate effectively, benefiting from the solutions others have already created to common (and sometimes even rare!) problems, as well as potentially contributing their own solutions to the common pool.

This guide covers the distribution part of the process. For a guide to installing other Python projects, refer to the installation guide.

Note

For corporate and other institutional users, be aware that many organisations have their own policies around using and contributing to open source software. Please take such policies into account when making use of the distribution and installation tools provided with Python.
Key terms

the Python Packaging Index is a public repository of open source licensed packages made available for use by other Python users
the Python Packaging Authority are the group of developers and documentation authors responsible for the maintenance and evolution of the standard packaging tools and the associated metadata and file format standards. They maintain a variety of tools, documentation and issue trackers on both GitHub and BitBucket.
distutils is the original build and distribution system first added to the Python standard library in 1998. While direct use of distutils is being phased out, it still laid the foundation for the current packaging and distribution infrastructure, and it not only remains part of the standard library, but its name lives on in other ways (such as the name of the mailing list used to coordinate Python packaging standards development).
setuptools is a (largely) drop-in replacement for distutils first published in 2004. Its most notable addition over the unmodified distutils tools was the ability to declare dependencies on other packages. It is currently recommended as a more regularly updated alternative to distutils that offers consistent support for more recent packaging standards across a wide range of Python versions.</p>
    {% else %}
        <h1> Login on register </h1>
    {% endif %}

{% endblock %}